/** Vars based on Color Scheme Designer **/

@main-color: #ff8700;
@mc-grey: #BF7C30;
@mc-dark: #A65800;
@mc-light: #FFA540;
@mc-white: #FFBD73;

@secondary-color: #0772a1;
@sc-grey: #225E79;
@sc-dark: #024A68;
@sc-light: #3BA3D0;
@sc-white: #62AFD0;

@white: #fff;