/** Vars based on Color Scheme Designer **/

@main-color: hsv(120,50%,60%);
@mc-grey:  darken(spin(@main-color, 1%), 12%);
@mc-dark:  saturate(darken(@main-color, 16%), 1%);
@mc-light: desaturate(lighten(@main-color, 2%), 11%);
@mc-white: lighten(desaturate(@main-color, 2%), 34%);

@secondary-color: #676767;
@sc-grey: darken(spin(@secondary-color, 1%), 12%);
@sc-dark: saturate(darken(@secondary-color, 16%), 1%);
@sc-light:desaturate(lighten(@secondary-color, 2%), 11%);
@sc-white:lighten(desaturate(@secondary-color, 2%), 34%);

@white: #fff;
@black: #000;