    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/templates" class="navbar-brand">Ludus</a>
            </div>

            <div class="collapse navbar-collapse navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/templates">Home</a>
                    </li>
                    <li>
                    <a href="/templates/links">Links</a>
                    </li>
                    <li>
                        <a href="/templates/posts">Posts</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/templates/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="ludus-header">
        <div class="jumbotron">
            <div class="container">
                <h1>Best Site Ever</h1>
            </div>
        </div>
        <div class="navbar-inverse navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-secondary">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-secondary">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Basic Category</a>
                        </li>
                        <li>
                            <a href="#">Photography</a>
                        </li>
                        <li>
                            <a href="#">PHP</a>
                        </li>
                        <li>
                            <a href="#">Javascript</a>
                        </li>
                        <li>
                            <a href="#">HTML/CSS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>