<footer style="background-color: #fff" class="container">
    <h4>Color Preview</h4>
    <div class="row">
        <div class="main-color color-prev col-md-3">
            main
        </div>
        <div class="mc-grey color-prev col-md-3">
            grey
        </div>
        <div class="mc-dark color-prev col-md-3">
            dark
        </div>
        <div class="mc-light color-prev col-md-3">
            light
        </div>
    </div>
    <div class="row">
        <div class="secondary-color color-prev col-md-3">
            secondary
        </div>
        <div class="sc-grey color-prev col-md-3">
            grey
        </div>
        <div class="sc-dark color-prev col-md-3">
            dark
        </div>
        <div class="sc-light color-prev col-md-3">
            light
        </div>
    </div>
    <div class="row">
        <div class="mc-white color-prev col-md-3">
            white
        </div>
        <div class="sc-white color-prev col-md-3">
            white
        </div>
    </div>
</div>
</footer>