---
layout: template
title: Link!
base_url: "../../"
---
<div class="container" id="ludus-content">
    <div class="row">
        <div class="col-md-9">

            <div class="ludus-link list-group-item">
                <a href="http://studfff0.com" class="ludus-title"><h2>Sample Link Title0</h2></a>
                This is a sample description 0    <ul class="list-inline">
                <li> upvotes</li>
                <li> clicks</li>
                <li><a href="/links/1">Comments</a></li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Comments</h3>
            <ul class="ludus-comments list-group">
                <li class="ludus-comments-item list-group-item">pien, eu auctor nunc purus id arcu. In ut luctus risus, quis luctus tellus. Fusce vehicula massa a nulla convallis venenatis. Nulla semper, velit ac venenatis pretium, nulla purus auctor risus, et rhoncus metus orci in orci. Vestibulum ante ipsum primis </li>
                <li class="ludus-comments-item list-group-item">Duis sed massa risus. Curabitur sem tellus, lacinia nec nisi et, sollicitudin viverra diam. Suspendisse viverra nunc vel augue porttitor, ut facilisis mauris tempus. </li>
                <li class="ludus-comments-item list-group-item">Cras varius tortor in lacus semper gravida. Etiam sodales odio eget mi sagittis, ac tempor velit suscipit. Aenean faucibus erat in diam porttitor scelerisque.</li>
                <li class="ludus-comments-item list-group-item">ed hendrerit semper massa, et ullamcorper quam dignissim semper. Nunc semper libero vel est hendrerit aliquam. Proin facilisis varius purus, ac gravida nul</li>
                <li class="ludus-comments-item list-group-item">consectetur risus. Aliquam eu mauris sodales, facilisis ligula et, suscipit quam. Quisque pharetra leo dui, ut ornare neque accumsan at. </li>
                <li class="ludus-comments-item list-group-item"> Ut lorem purus, egestas at condimentum et, porta non ligula. Sed quis dictum risus. Fusce in nisl non dolor porta lobortis vel eget sem</li>
            </ul>
        </div>

    </div>
    <div class="col-md-3">
        <a href="/templates/add" class="btn btn-primary">Add Link +</a> <a href="/posts/add" class="btn btn-success">Add Post +</a>
    </div>
</div>
</div></body></html>