---
layout: template
title: Link!
base_url: "../../"
---
<div class="container" id="ludus-content">
    <div class="row">
        <div class="col-md-9">

            <div class="ludus-link list-group-item">
                <a href="#" class="pull-right"><img src="#" width="95px" height="95px" class="img-thumbnail"></a>
                <a href="http://studfff0.com" class="ludus-title"><h2>Sample Link Title0</h2></a>
                This is a sample description 0    <ul class="list-inline">
                <li> upvotes</li>
                <li> clicks</li>
                <li><a href="/links/1">Comments</a></li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Comments</h3>
            <ul class="ludus-comments list-group">
                <li class="ludus-comments-item list-group-item"><div class="list-group-item-text">pien, eu auctor nunc purus id arcu. In ut luctus risus, quis luctus tellus. Fusce vehicula massa a nulla convallis venenatis. Nulla semper, velit ac venenatis pretium, nulla purus auctor risus, et rhoncus metus orci in orci. Vestibulum ante ipsum primis
                    <ul class="list-inline">
                        <li><a href="#"><img src="../../images/avatar.jpg" width="25px" height="25px"> Antonin Januska</a></li>
                        <li><a href="#">like</a></li>
                    </ul></div></li>
                    <li class="ludus-comments-item list-group-item"><div class="list-group-item-text">Duis sed massa risus. Curabitur sem tellus, lacinia nec nisi et, sollicitudin viverra diam. Suspendisse viverra nunc vel augue porttitor, ut facilisis mauris tempus.
                       <ul class="list-inline">
                        <li><a href="#"><img src="../../images/avatar.jpg" width="25px" height="25px"> Antonin Januska</a></li>
                        <li><a href="#">like</a></li>
                    </ul></div></li>
                    <li class="ludus-comments-item list-group-item"><div class="list-group-item-text">Cras varius tortor in lacus semper gravida. Etiam sodales odio eget mi sagittis, ac tempor velit suscipit. Aenean faucibus erat in diam porttitor scelerisque.
                       <ul class="list-inline">
                        <li><a href="#"><img src="../../images/avatar.jpg" width="25px" height="25px"> Antonin Januska</a></li>
                        <li><a href="#">like</a></li>
                    </ul></div></li>
                    <li class="ludus-comments-item list-group-item"><div class="list-group-item-text">ed hendrerit semper massa, et ullamcorper quam dignissim semper. Nunc semper libero vel est hendrerit aliquam. Proin facilisis varius purus, ac gravida nul
                       <ul class="list-inline">
                        <li><a href="#"><img src="../../images/avatar.jpg" width="25px" height="25px"> Antonin Januska</a></li>
                        <li><a href="#">like</a></li>
                    </ul></div></li>
                    <li class="ludus-comments-item list-group-item"><div class="list-group-item-text">consectetur risus. Aliquam eu mauris sodales, facilisis ligula et, suscipit quam. Quisque pharetra leo dui, ut ornare neque accumsan at.
                       <ul class="list-inline">
                        <li><a href="#"><img src="../../images/avatar.jpg" width="25px" height="25px"> Antonin Januska</a></li>
                        <li><a href="#">like</a></li>
                    </ul></div></li>
                    <li class="ludus-comments-item list-group-item"><div class="list-group-item-text"> Ut lorem purus, egestas at condimentum et, porta non ligula. Sed quis dictum risus. Fusce in nisl non dolor porta lobortis vel eget sem
                       <ul class="list-inline">
                        <li><a href="#"><img src="../../images/avatar.jpg" width="25px" height="25px"> Antonin Januska</a></li>
                        <li><a href="#">like</a></li>
                    </ul></div></li>
                </ul>
            </div>

        </div>
        <div class="col-md-3">
            <a href="/templates/add" class="btn btn-primary">Add Link +</a> <a href="/posts/add" class="btn btn-success">Add Post +</a>
        </div>
    </div>
</div></body></html>